{% extends 'base.html' %}
{% load static %}
{% block content %}

<main role="main">
   <div class="album py-5">
      <div class="container">
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item active" aria-current="page">
                  <h1 style="font-size:1rem">Gift Deals Lists</h1>
               </li>
            </ol>
         </nav>
         <div class="row">
         <div class="infinite-container">
            
               {% for article in articles %}
               
                  <div class="infinite-item">
                     
                   
                     <div class='card mb-4 shadow-sm'>
                        <div style='min-height:70px !important; padding-top:5px;'>
                           <h5 class='card-title text-center text-warning'>
                              <a href='/gifts/{{ article.id }}/{{ article.slug }}'' style='color:orange;'>{{ article.title }}</a>
                           </h5>
                        </div>
                        <a href="/gifts/{{ article.id }}/{{ article.slug }}">
                        <img class='card-img-top' src='/static/images/products/{{ article.image }}' alt="image"></a>
                        <div class='card-body'>
                           <p class='card-text'>{{ article.content }}</p>
                           <div class='d-flex justify-content-between align-items-center'>
                              <a target='_blank' class='btn btn-warning btn-sm'>CHECK IT OUT</a>
                              <small class='text-muted'>$ {{ article.price }}</small>
                           </div>
                        </div>
                     
                  </div>
               
               </div>
               {% endfor %}
            
         </div>
        </div>
      </div>
      <div class="loading" style="display: none;">
         Loading...
      </div>
      {% if page_obj.has_next %}
      <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"">More</a>
      {% endif %}
      <script>
         var infinite = new Waypoint.Infinite({
           element: $('.infinite-container')[0],
           onBeforePageLoad: function () {
             $('.loading').show();
           },
           onAfterPageLoad: function ($items) {
         
             $('.loading').hide();
           }
         });
      </script>
   </div>
</main>
<footer class="
   text-muted">
   <div class="container">
      <p class="float-right">
         <a href="#">Back to top</a>
      </p>
      <p><b>Copyrights 2018 - Dealshotitems.com</b></p>
      <p>Dealshotitems.com is a participant in the Amazon Services LLC Associates Program, an affiliate
         advertising program designed to provide a means for sites to earn advertising fees by advertising and
         linking to Amazon.com.
      </p>
   </div>
</footer>
{% endblock %}